<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>REGISTER TALENT</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/main.css" th:href="@{/main.css}" />
</head>
<body>
<center>
    <h2>register here</h2>
</center>

<form modelAttribute="addTalentForm" action="/talent/addTalent" method="post">
    <div align="center">
        <p>
            First Name: <input type="text" name="fname" />
        </p>
        <p>
            Last Name: <input type="text" name="lname" />
        </p>
        <p>
            Email: <input type="email"  name="email"/>
        </p>
        <p>
            Password: <input type="password" name="password" />
        </p>
        <p>
            Confirm Password: <input type="password" name="Cpassword" />
        </p>
        <p>
            <input type="submit" id="addTalent" value="Submit" />
        <a href="/index" th:href="@{/index}">Cancel</a>

        </p>
    </div>
</form>

</body>
</html>