<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>VIEW ALL TALENTS</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="flash"></h3>

    <div th:if="${not #lists.isEmpty(talents)}">

  <!--   <h3 th:text="${page.number+1}+' of '+${page.totalPages}"/>-->
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th width="50"></th>
            <th width="100"></th>
        </tr>
        <tr th:each="talent : ${talents}">

            <td th:text="${talent.talent_id}">Talent Id</td>
            <td th:text="${talent.fname}">First Name</td>
            <td th:text="${talent.lname}">Last Name</td>
            <td th:text="${talent.email}"> Email</td>

            <td>
                <form th:method="delete" th:action="@{'/talent/delete/'+${talent.talent_id}}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
            <td>
                <form th:method="get" th:action="@{'/showTalent/'+${talent.talent_id}}">
                    <input type="submit" value="Update"/>
                </form>
            </td>
        </tr>

    </table>


    <ul>
        <li th:if="${prev}"><a th:href="@{/(size=${prev.pageSize},page=${prev.pageNumber})}">Previous</a></li>
        <li th:if="${next}"><a th:href="@{/(size=${next.pageSize},page=${next.pageNumber})}">Next</a></li>
    </ul>


    <!-- <p><a href="/talent/addTalent" th:href="@{/talent/addTalent}"> Add New Talent</a></p>
        <p><a href="/index" th:href="@{/index}">Back</a></p>
-->
</div>
</div>
</body>
</html>