<!DOCTYPE html>
<html xmlns:th="http://www.thmyeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>All Talents</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<h3 th:if="${#vars['flash.messages']}" th:text="${#vars['flash.messages']}" class="flash"></h3>


<div>
    <h3 th:text="${page.number+1}+' of '+${page.totalPages}"/>
    <table>
        <thead>
        <tr>
            <th>Talent Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="talent : ${page.content}">

            <td th:text="${talent.talent_id}"/>
            <td th:text="${talent.fname}"/>
            <td th:text="${talent.lname}"/>
            <td th:text="${talent.email}"/>
            <td>
                <form th:method="delete" th:action="@{'/talent/'+${talent.talent_id}}">
                    <input type="submit" value="Delete"/>

                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <p>
        <a href="/index" th:href="@{/index}">Ok</a>
    </p>

</div>
</body>
</html>