<!DOCTYPE html>
<html xmlns:th="http://www.thmyeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>All Talents</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

<h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="flash"></h3>

<div>
    <h3 th:text="${page.number+1}+' of '+${page.totalPages}"/>
    <table title="TALENT">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th width="50"></th>
            <th width="100"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="talent : ${page.content}">

            <td th:text="${talent.talent_id}"/>
            <td th:text="${talent.fname}"/>
            <td th:text="${talent.lname}"/>
            <td th:text="${talent.email}"/>

            <td>
                <form th:method="delete" th:action="@{'/talent/'+${talent.talent_id}}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
            <td>
                <form th:method="put" th:action="@{'/talent/update/'+${talent.talent_id}}">
                    <input type="submit" value="Update"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>


    <ul>
        <li th:if="${prev}"><a th:href="@{/(size=${prev.pageSize},page=${prev.pageNumber})}">Previous</a></li>
        <li th:if="${next}"><a th:href="@{/(size=${next.pageSize},page=${next.pageNumber})}">Next</a></li>
    </ul>


    <p>
        <a href="/talent/addTalent" th:href="@{/talent/addTalent}"> Add New Talent</a>
        <a href="/index" th:href="@{/index}">Back</a>
    </p>

</div>
</body>
</html>