<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>View Talent</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

        <h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="alert alert-success"></h3>

    <h3 th:if="${#vars['flash.messagess']}" th:text="${#vars['flash.messagess']}" class="alert alert-danger"></h3>

    <div th:if="${not #lists.isEmpty(talents)}">
        <h2>Talent List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Twitter Screen Name</th>
                <th>Facebook Screen Name</th>
                <th>Instagram Screen Name</th>
                <th>Email</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="talent : ${talents}">
                <td th:text="${talent.id}"><a href="/talent/${talent.id}">Id</a></td>
                <td th:text="${talent.fname}">First Name</td>
                <td th:text="${talent.lname}">Last Name</td>
                <td><span th:text="*{talent.twitterScreenName==null} ? '(not connected)' : *{talent.twitterScreenName} ">Twitter Screen Name</span></td>
                <td th:text="${talent.facebookScreenName}">Facebook Screen Name</td>
                <td th:text="${talent.instagramScreenName}">Instagram Screen Name</td>

                <td th:text="${talent.email}">Email</td>

                <td><a th:href="${'/talent/' + talent.id}">View</a></td>
                <td><a th:href="${'/talent/edit/' + talent.id}">Edit</a></td>
                <td><a th:href="${'/talent/delete/' + talent.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>