<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">

    <title>Post Twitter</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <center>
    <h3>POST IMAGE TO TWITTER:</h3><br/>

    <form modelAttribute="tweet" action="/twitter/postTweetImage" enctype="multipart/form-data" method="post">

       <div class="form-group">
           <select id="dropTalent" name="screenName">
                <option value="0" th:text="${'-- Choose Screen Name --'}"/>
                <option th:each="talent : ${talents}" th:value="${talent.id}" th:text=" ${talent.twitterScreenName}" />
           </select>
       </div>
            <div class="form-group">
                    <textarea rows="6" cols="45" placeholder="Type your caption here ..." name="message" ></textarea>
            </div>
        <p>
            <div class="form-group">
                    <input type="file" name="file" />
            </div>
        </p>
        <br/>
        <div class="form-group">
            <div class="col-sm-15">
                <input type="submit" id="postTweet" value="Post" />
                <a href="/connect/twitterConnected" th:href="@{/tw}">Cancel</a>
            </div>
        </div>

    </form>
</center>
</div>
</body>
</html>