<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TWITTER POST</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/main.css" th:href="@{/main.css}" />
</head>
<body>


<center>
    <h3>POST TO TWITTER:</h3>
    <form modelAttribute="tweet" action="/twitter/postTweet" enctype="multipart/form-data" method="post">
        <p>Message: <input type="text" name="message"/></p>
        <p>choose your file:   <input type="file" name="file" /></p>
        <p><input type="submit" id="postTweet" value="Post" /></p>

        <p>
            <a href="/connect/twitterConnected" th:href="@{/connect/twitter}">Cancel</a>
        </p>
    </form>
</center>

<!--

  <h3>POST TO TWITTER:</h3>
    <form action="savePayload" method="post" modelAttribute="tweet">
        Recipient's Screen Name: <input type="text" name="twitterScreenName"/>
        <p><textarea id="message" name="message"> Type Tweet here</textarea></p>
        <p><button id="sendTweet" type="button">Post</button></p>
    </form>



<h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h3>

<h4>You tweeted:</h4>
    th:each="tweet:${tweets}" th:text="${tweets}">Tweet
-->
</body>
</html>