<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">

    <title>Post Twitter</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<br/><br/>
<div class="container">
    <!--/*/ <th:block th:include="fragments/headerlogin :: header"></th:block> /*/-->


<center>
    <h3>POST IMAGE TO TWITTER:</h3>
    <form modelAttribute="tweet" action="/twitter/postTweetImage" enctype="multipart/form-data" method="post">
       <p> ScreenName: <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Profile Account
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
    </div></p>
        <p>Message:</p>
            <p> <textarea rows="6" cols="45" name="message" ></textarea></p>
        <p>choose your file:   <input type="file" name="file" /></p>
        <p><input type="submit" id="postTweet" value="Post" /></p>

        <p>
            <a href="/connect/twitterConnected" th:href="@{/connect/twitter}">Cancel</a>
        </p>
    </form>
</center>
</div>
</body>
</html>