<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Post Twitter</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<br/><br/>
<div class="container">
    <!--/*/ <th:block th:include="fragments/headerlogin :: header"></th:block> /*/-->


<center>
    <h3>POST IMAGE TO TWITTER:</h3>
    <form modelAttribute="tweet" action="/twitter/postTweetImage" enctype="multipart/form-data" method="post">
        <p>Message: <input type="text" name="message"/></p>
        <p>choose your file:   <input type="file" name="file" /></p>
        <p><input type="submit" id="postTweet" value="Post" /></p>

        <p>
            <a href="/connect/twitterConnected" th:href="@{/connect/twitter}">Cancel</a>
        </p>
    </form>
</center>
</div>
</body>
</html>