<!DOCTYPE html>
<html xmlns:th="http://www.thmyeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thmyeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>All Messages</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

<h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></h3>

    <h3 th:text="${page.number + 1} + ' of ' + ${page.totalPages}"></h3>
    <h4 th:text="${page.size} + ' item(s) per page'"></h4>

    Payload
    <table title="Payload">
        <tr>
            <th>ID</th>
            <th>Message</th>
        </tr>
        <tr th:each="payload : ${page.content}">
            <td th:text="${payload.id}"></td>
            <td th:text="${payload.message}"></td>

        </tr>
    </table>
<ul>
    <li th:if="${prev}"><a th:href="@{/(size=${prev.pageSize},page=${prev.pageNumber})}">Previous</a></li>
    <li th:if="${next}"><a th:href="@{/(size=${next.pageSize},page=${next.pageNumber})}">Next</a></li>
</ul>

    <p>View List of images here <a href="/twitter/images">here</a>.</p>
<p><a href="/connect/twitterConnected" th:href="@{/connect/twitter}">back to Menu</a></p>

</body>
</html>