<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Friend List</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<br/><br/>
<div class="container">
    <!--/*/ <th:block th:include="fragments/headertw :: header"></th:block> /*/-->
<h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h3>

<h4>These are your FRIENDS:</h4>

<ol>
    <li th:each="friend:${friends}" th:text="${friend.name}">Friend</li>
</ol>

    <p><a href="/connect/twitterConnected" th:href="@{'/tw/viewTweets/'+${twitterScreenName}}">View Tweets</a></p>
    <p><a href="/connect/twitterConnected" th:href="@{'/tw/followers/'+${twitterScreenName}}">View Followers</a></p>
    <p><a href="/connect/twitterConnected" th:href="@{'/tw/timeline/'+${twitterScreenName}+'/Home'}">View Timeline</a></p>
    <p><a href="/tw/friends" th:href="@{'/tw/timelineShow/'+${twitterScreenName}}">Back to Options</a></p><br/>

</div>
</body>
</html>