<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>View Tweets</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<br/><br/>
<div class="container">
    <!--/*/ <th:block th:include="fragments/headertw :: header"></th:block> /*/-->
<h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h3>

<h4>These are your TWEETS:</h4>

<ol>
    <li th:each="tweet:${tweets}" th:text="${tweet.getText()}">Tweet</li>
</ol>
    <p><a href="/connect/twitterConnected" th:href="@{/tw/friends}">View Friends</a></p>
    <p><a href="/connect/twitterConnected" th:href="@{/tw/followers}">View Followers</a></p>
    <p><a href="/tw/viewTweets" th:href="@{/tw}">Back to Options</a></p><br/>
    <p><a href="/connect/twitterConnected" th:href="@{/connect/twitter}">Back to Connection</a></p>

<!--  <li th:each="tweet : ${tweets}" th:text="${tweet}">Some tweet</li>
   -->
</div>
</body>
</html>