<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">

    <title>View Tweets</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/main.css" th:href="@{/main.css}" />
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h3>

<h4>These are your TWEETS:</h4>

<ol>
    <li th:each="tweet:${tweets}" th:text="${tweet.getText()}">Tweet</li>
</ol>
<p><a href="/connect/twitterConnected" th:href="@{/connect/twitter}">Back to menu</a>
    <a href="/connect/twitterConnected" th:href="@{/twitter/friends}">View Friends</a></p>


<!--  <li th:each="tweet : ${tweets}" th:text="${tweet}">Some tweet</li>
   -->
</body>
</html>