<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">

    <title>Connections</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="flash"></h3>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="form-group">
    <h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="flash"></h3>
</div>
    <hr/>
    <center>
        <section>
            <p><a href="/connect/twitter" th:href="@{/connect/twitter}" >Connect to twitter</a></p>
            <p><a href="/connect/facebook" th:href="@{/connect/facebook}" >Connect to Facebook</a></p>
        </section>
</center>
</div>
</body>
</html>