<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>INDEX</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>

<div class="container">
    <center>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <p><a href="/connect/twitter" th:href="@{/connect/twitter}" >Connect to twitter</a></p> <!--connect/twitter -->
    <p><a href="/connect/facebook" th:href="@{/connect/facebook}" >Connect to Facebook</a></p>
</center>
</div>
</body>
</html>