<html>
<head>
    <title>Hello Facebook</title>
</head>
<body>

<h2>You are now connected to your Facebook account.</h2>

<p>Click <a href="/facebook">here</a> to see some entries from your Facebook feed</p>
    <!--
    <ol>
        <li>
            Click <a href="/twitter/viewTweets">here</a> to see your tweets.
        </li>
        <li>
            Click <a href="/twitter/friends">here</a> to see your Twitter friends.
        </li>
        <li>
            Click <a href="/twitter/followers">here</a> to see your Twitter Followers.
        </li>
        <li>
            Click <a href="/twitter/renderPostTweet/form">here</a> to POST iMAGE to Twitter.
        </li>

        <li>
            Click <a href="/twitter/postvideo/form">here</a> to POST ViDEO to Twitter.
        </li>
    </ol>
    -->
</body>
</html>