<html>
<head>
    <title>Hello Facebook</title>
</head>
<body>

<h2>You are now connected to your Facebook account.</h2>

    <ol>
        <li>Click <a href="/facebook/feeds">here</a> to see some entries from your Facebook feed</li>

        <li>
            Click <a href="/facebook/friends">here</a> to view you Facebook Friends
        </li>
        <li>
            Click <a href="/facebook/followers">here</a> to see your Facebook Followers.
        </li>
        <li>
            Click <a href="/facebook/updateStatus">here</a> to Update your facebook status.
        </li>

        <li>
            Click <a href="/facebook/postvideo/form">here</a> to POST ViDEO to Facebook.
        </li>
    </ol>

</body>
</html>