<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Twitter Connected</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/headertw :: header"></th:block> /*/-->
		<p>
			<h2>You are now connected to your Twitter account</h2>
            <h3>Please click the Home button to proceed.</h3>

 <!--
    <form id="disconnect" action="/talents" method="post">
        <input type="hidden" name="_csrf" /> --> <!--th:value="${_csrf.token}"  -->
     <!--   <div class="formInfo">
            <button type="submit">Disconnect</button>
            <input type="hidden" name="_method" value="delete" />
        </div>
    </form>
-->

        </p>
</div>
	</body>
</html>