<html>
	<head>
		<title>Hello Twitter</title>
	</head>
	<body>
		<p>
			<h2>You are now connected to your Twitter account.</h2>

         <ol>
             <li>
                 Click <a href="/twitter/viewTweets">here</a> to see your tweets.
             </li>
             <li>
                 Click <a href="/twitter/friends">here</a> to see your Twitter friends.

             </li>
             <li>
                 Click <a href="/twitter/tweet">here</a> to POST to Twitter.
             </li>

             <li>
                 Click <a href="/twitter/followers">here</a> to see your Twitter Followers.
             </li>
             <li>
                 Click <a href="/twitter/sendMessage">here</a> to send a Direct Message. <!--/twitter/directmessage -->
             </li>
         </ol>


        </p>
	</body>
</html>